{% set components = craft.mqueues.queues %}

{% for component in components %}
    <h1>Queue {{ component.channel }}</h1>
    <table style="width: 100%">
        <tr><th>Description</th><th>Status</th><th>Progress</th><th>&nbsp;</th></tr>
    {% for job in component.getJobInfo()|slice(0, 10) %}
        <tr>
            <td><a href="/actions/multiple-queue/admin/detail/{{ job.id }}">{{ job.description }}</a></td>
            <td>{{ (job.fail == 1)?'Failed':(job.status == 1)?'Waiting':(job.status == 2?'Reserved':'Done') }}</td>
            <td>{{ job.progress }}%</td>
            <td><a href="/actions/mutiple-queue/admin/release/{{ job.id }}">[X]</a></td>
        </tr>
    {% endfor %}
    </table>
    <hr/>
    <div style="text-align: center">Total jobs: {{ component.getTotalJobs()}} </div>
{% endfor %}
